html,
body {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;

  margin: 0;
  padding: 0;

  background-color: var(--bg-dark);

  color: var(--text);
}

.container {
  background-color: var(--bg);

  width: calc(100% - 40px);
  height: fit-content;

  margin: 0px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px;

  box-shadow: var(--shadow-s);

  border-radius: 26px;
}

.container-raised {
  background-color: var(--bg-light);

  width: calc(100% - 10px - 10px - 20px - 20px);
  height: fit-content;

  margin: 10px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;

  box-shadow: var(--shadow-m);

  border-radius: 26px;
}

hr {
  height: 0;

  border: solid var(--text-muted) 1px;
  border-radius: 5px;
}
