:root {
    --background-color: white;
    --accent-color: grey;
    --text-color: black;

    --onyx-purple: #9000ff;
    --onyx-blue: #006aff;
    --onyx-black: black;
    --onyx-white: white;
}

html, body {
    margin: 0;
    padding: 0;

    font-family: "Source Code Pro", monospace;
}