html, body {
	font-family: "Source Code Pro", monospace;
	margin: 0;
	padding: 0;
	background-color: #363636;
	color: white;
}

.header {
	height: 100px;
	line-height: 100px;
}

#navbar {
	overflow: hidden;
	background-color: #9000ff;
	z-index: 100;
}

.nav-button {
	float: left;
    display: block;
    text-align: center;
    padding: 14px;
	font-size: larger;
    text-decoration: none;
	color: white;
}

.nav-button:hover {
	background-color: #006aff;
}

.icon {
    float: right;
    height: 51px;
}