/* Palette "https://coolors.co/palette/0a9396-94d2bd-e9d8a6-ee9b00-ca6702" */

:root {
    --accent: #0A9396;
    --accent-light: #94D2BD;
    --accent-dark: #005F73;

    --text: #22223B;

    --background: #E9D8A6;

    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
