/* Pallet "https://coolors.co/palette/004b23-006400-007200-008000-38b000-70e000-9ef01a-ccff33" */

:root {
    --accent: #007200;
    --accent-light: #008000;
    --accent-dark: #006400;

    --text: black;

    --background: #38B000;

    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
}