/* Pallet "https://coolors.co/palette/004b23-006400-007200-008000-38b000-70e000-9ef01a-ccff33" */

:root {
    --accent: #38B000;
    --accent-light: #70E000;
    --accent-dark: #008000;

    --text: white;

    --background: #004B23;

    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
}