/* Pallet "https://coolors.co/palette/dec9e9-dac3e8-d2b7e5-c19ee0-b185db-a06cd5-9163cb-815ac0-7251b5-6247aa" */

:root {
    --accent: #9163CB;
    --accent-light: #B185DB;
    --accent-dark: #7251B5;

    --text: black;

    --background: #DEC9E9;

    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
}