:root {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

hr {
    border: solid black 1px;
}

.box {
    border-radius: 10px;
    border: solid black 2px;

    padding: 10px;
    margin: 5px;

    height: fit-content;
}