#loginEmailForm, #loginCodeForm {
    margin: 20px;

    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

#loginEmailForm input,
#loginCodeForm input {
    flex: 1;
}

#loginEmailForm button,
#loginCodeForm button {
    flex: 0 0 auto;
}

#registerForm {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#registerForm input, #registerForm textarea {
    width: 100%;
    box-sizing: border-box;
}

#registerForm button {
    flex: 0 0 auto;
}
