html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

hr {
  background-color: var(--text-color);

  width: 100%;
  height: 2px;

  border: none;
}

a {
  color: var(--text-color);
}