:root {
    --font: "Roboto Mono", monospace;
    
    --accent-color: rgb(100, 149, 237);

    --background-color: rgb(128, 128, 128);
    --secondary-background-color: rgb(60, 60, 60);

    --border-color: rgb(0, 0, 0);

    --text-color: rgb(255, 255, 255);
    --secondary-text-color: rgb(197, 197, 197);

    --success-color: rgb(0, 128, 0);
    --warning-color: rgb(255, 255, 0);
    --error-color: rgb(255, 0, 0);
}