:root {
    --font: "Cedarville Cursive", cursive;
    
    --accent-color: rgb(221, 51, 198);

    --background-color: rgb(83, 11, 60);
    --secondary-background-color: rgb(43, 4, 30);

    --border-color: rgb(120, 120, 120);

    --text-color: rgb(255, 255, 255);
    --secondary-text-color: rgb(180, 180, 180);

    --success-color: rgb(0, 128, 0);
    --warning-color: rgb(255, 255, 0);
    --error-color: rgb(255, 0, 0);
}