.progressBar {
  height: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 5px;
}

.progressBar > div {
  flex-grow: 1;

  height: 20px;

  background-color: var(--text-color-muted);

  border: solid var(--text-color) 1px;
}

.progressBar > div > div {
  height: 100%;
  background-color: var(--text-color);
}
