<center class="posterlist">
  <img
    src="https://images.igdb.com/igdb/image/upload/t_cover_big/coaczd.webp"
    alt="Counter-Strike 2"
  />
  <img
    src="https://images.igdb.com/igdb/image/upload/t_cover_big/co8fu7.webp"
    alt="Minecraft"
  />
  <img
    src="https://images.igdb.com/igdb/image/upload/t_cover_big/co46s3.webp"
    alt="ULTRAKILL"
  />
  <img
    src="https://images.igdb.com/igdb/image/upload/t_cover_big/coaxt6.webp"
    alt="Fortnite"
  />
  <img
    src="https://images.igdb.com/igdb/image/upload/t_cover_big/coaiyq.webp"
    alt="Rocket League"
  />
  <img
    src="https://images.igdb.com/igdb/image/upload/t_cover_big/co8y08.webp"
    alt="Planet Coaster"
  />
  <img
    src="https://images.igdb.com/igdb/image/upload/t_cover_big/co67zs.webp"
    alt="Bendy and the Ink Machine"
  />
  <img
    src="https://images.igdb.com/igdb/image/upload/t_cover_big/co8j98.webp"
    alt="shapez"
  />
  <img
    src="https://images.igdb.com/igdb/image/upload/t_cover_big/co9nte.webp"
    alt="Storror Parkour Pro"
  />
  <img
    src="https://images.igdb.com/igdb/image/upload/t_cover_big/co86cz.webp"
    alt="Super Meat Boy"
  />
  <img
    src="https://images.igdb.com/igdb/image/upload/t_cover_big/coay61.webp"
    alt="Portal"
  />
</center>
