<div class="navbar-container">
  <div class="button-container" onclick="ToPage('home.html')">
    <i class="button-icon fa-solid fa-house"></i>
    <p class="button-text">Home</p>
  </div>

  <div class="button-container" onclick="ToPage('programming.html')">
    <i class="button-icon fa-solid fa-code"></i>
    <p class="button-text">Programming</p>
  </div>

  <div class="button-container" onclick="ToPage('externallinks.html')">
    <i class="button-icon fa-solid fa-globe"></i>
    <p class="button-text">External Links</p>
  </div>

  <!-- <div class="button-container" onclick="ToPage('socials.html')">
    <i class="button-icon fa-solid fa-circle-nodes"></i>
    <p class="button-text">Socials</p>
  </div> -->

  <div class="button-container" onclick="ToPage('settings.html')">
    <i class="button-icon fa-solid fa-gear"></i>
    <p class="button-text">Settings</p>
  </div>
</div>
