<center class="posterlist">
  <!-- SHOWS -->

  <img
    src="https://image.tmdb.org/t/p/w300_and_h450_face/dg9e5fPRRId8PoBE0F6jl5y85Eu.jpg"
    alt="The Office"
  />
  <img
    src="https://media.themoviedb.org/t/p/w300_and_h450_face/dFs6yHxheEGoZSoA0Fdkgy6Jxh0.jpg"
    alt="Parks and Recreation"
  />
  <img
    src="https://media.themoviedb.org/t/p/w300_and_h450_face/A3SymGlOHefSKbz1bCOz56moupS.jpg"
    alt="Brooklyn Nine-Nine"
  />
  <img
    src="https://image.tmdb.org/t/p/w300_and_h450_face/qIhsuhoIYR5yTnDta0IL4senbeN.jpg"
    alt="The Good Place"
  />
  <img
    src="https://image.tmdb.org/t/p/w300_and_h450_face/k5Qg5rgPoKdh3yTJJrLtyoyYGwC.jpg"
    alt="Modern Family"
  />

  <!-- MOVIES -->

  <img
    src="https://image.tmdb.org/t/p/w300_and_h450_face/qK76PKQLd6zlMn0u83Ej9YQOqPL.jpg"
    alt="The Matrix"
  />
  <img
    src="https://image.tmdb.org/t/p/w300_and_h450_face/aA5qHS0FbSXO8PxcxUIHbDrJyuh.jpg"
    alt="The Matrix Reloaded"
  />
  <img
    src="https://image.tmdb.org/t/p/w300_and_h450_face/bkkS61w94ZVMNVd8KEyyJl2tnY5.jpg"
    alt="The Matrix Revolutions"
  />
  <img
    src="https://image.tmdb.org/t/p/w300_and_h450_face/8c4a8kE7PizaGQQnditMmI1xbRp.jpg"
    alt="The Matrix Resurrections"
  />
  <img
    src="https://image.tmdb.org/t/p/w300_and_h450_face/aCIFMriQh8rvhxpN1IWGgvH0Tlg.jpg"
    alt="Tenet"
  />
  <img
    src="https://image.tmdb.org/t/p/w300_and_h450_face/xlaY2zyzMfkhk0HSC5VUwzoZPU1.jpg"
    alt="Inception"
  />
  <img
    src="https://media.themoviedb.org/t/p/w300_and_h450_face/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg"
    alt="Interstellar"
  />
  <img
    src="https://image.tmdb.org/t/p/w300_and_h450_face/78lPtwv72eTNqFW9COBYI0dWDJa.jpg"
    alt="Iron Man"
  />
  <img
    src="https://image.tmdb.org/t/p/w300_and_h450_face/6WBeq4fCfn7AN0o21W9qNcRF2l9.jpg"
    alt="Iron Man 2"
  />
  <img
    src="https://image.tmdb.org/t/p/w300_and_h450_face/qhPtAc1TKbMPqNvcdXSOn9Bn7hZ.jpg"
    alt="Iron Man 3"
  />
  <img
    src="https://media.themoviedb.org/t/p/w300_and_h450_face/jexoNYnPd6vVrmygwF6QZmWPFdu.jpg"
    alt="The Amazing Spider-Man"
  />
  <img
    src="https://media.themoviedb.org/t/p/w300_and_h450_face/dGjoPttcbKR5VWg1jQuNFB247KL.jpg"
    alt="The Amazing Spider-Man 2"
  />
  <img
    src="https://image.tmdb.org/t/p/w300_and_h450_face/iiZZdoQBEYBv6id8su7ImL0oCbD.jpg"
    alt="Spider-Man: Into the Spider-Verse"
  />
  <img
    src="https://image.tmdb.org/t/p/w300_and_h450_face/8Vt6mWEReuy4Of61Lnj5Xj704m8.jpg"
    alt="Spider-Man: Across the Spider-Verse"
  />
</center>
