:root {
    --primary: #00BBF9;
    --secondary: #F15BB5;
    --background: #9B5DE5;
    --text: white;
    --text-alternate: #00F5D4;
    
    --github: #f5f5f5;
    --youtube: #FF0000;
    --linkedin: #0077B5;
    --discord: #5c6aed;
}