:root {
    --primary: #fe9a00;
    --secondary: #ffa924;
    --background: #363636;
    --text: white;
    --text-alternate: #fe9a00;
    
    --github: #f5f5f5;
    --youtube: #FF0000;
    --linkedin: #0077B5;
    --discord: #5c6aed;
}