:root {
    --primary: #32a852;
    --secondary: #51d675;
    --background: #363636;
    --text: white;
    
    --github: #f5f5f5;
    --youtube: #FF0000;
    --linkedin: #0077B5;
    --discord: #5c6aed;
}