:root {
    --primary: #2047da;
    --secondary: #325cfa;
    --background: #363636;
    --text: white;
    --text-alternate: #2047da;
    
    --github: #f5f5f5;
    --youtube: #FF0000;
    --linkedin: #0077B5;
    --discord: #5c6aed;
}