/* Pallet "https://coolors.co/palette/cc5803-e2711d-ff9505-ffb627-ffc971" */

:root {
    --accent: #FF9505;
    --accent-light: #FFB627;
    --accent-dark: #E2711D;

    --text: black;

    --background: #FFC971;

    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
}