html, body {
    font-family: "Source Code Pro", monospace;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--text);
}

.header {
    height: 100px;
    line-height: 100px;
}

#navbar {
    overflow: hidden;
    background-color: var(--primary);
    z-index: 100;
}

.nav-button {
    cursor: pointer;
    float: left;
    display: block;
    text-align: center;
    padding: 14px;
    font-size: larger;
    text-decoration: none;
    color: var(--text);
}

.nav-button:hover { background-color: var(--secondary); }

.icon {
    float: right;
    height: 51px;
}

.social {
    float: left;
    display: block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    color: var(--text);
}

.social > img { height: 25px; }

.github:hover { background-color: var(--github); }
.youtube:hover { background-color: var(--youtube); }
.linkedin:hover { background-color: var(--linkedin); }
.discord:hover { background-color: var(--discord); }
.dropbox:hover { background-color: var(--dropbox); }

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary);
    color: var(--text);
    text-align: center;
    z-index: 100;
}

hr {
    border: none;
    background-color: var(--primary);
    width: 100%;
    height: 5px;
}

.colored-text {
    color: var(--text-alternate);
}

.article {
    max-width: 100%;
    height: auto;
    margin-top: 50px;
    border-radius: 10px;
    filter: drop-shadow(0 0 10px black);
}

.image {
    max-width: 100%;
    height: auto;
    margin-top: 50px;
    border-radius: 10px;
    filter: drop-shadow(0 0 10px black);
}

.content { padding: 16px; }

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content { padding-top: 60px; }

.dropbtn {
    background-color: var(--primary);
    padding: 14px;
    font-size: 16px;
    border: none;
}

.dropbtn > img { height: 25px; }

.dropup {
    display: block;
    float: left;
}

.dropup-content {
    display: none;
    position: absolute;
    background-color: var(--primary);
    bottom: 53px;
    z-index: 1;
}

.dropup-content a {
    color: var(--text);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

.dropup-content a:hover { background-color: var(--secondary); }

.dropup:hover .dropup-content { display: block; }

.music {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 330px;
}

.song {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: visible;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: solid black 3px;
    border-radius: 10px;
}

.disk {
    position: absolute;
    top: 0;
    right: -100px;
    z-index: 1;
    padding: 5%;
    height: 90%;
}

.title {
    line-height: 20px;
    position: absolute;
    bottom: -35px;
    left: 0;
    width: 200%;
    text-align: left;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: x-large;
}

.sound {
    position: absolute;
    bottom: -100px;
    width: 145%;
}

.loading-screen {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    pointer-events: none;
}

.loading-screen img {
    max-width: 100px;
    max-height: 100px;
    animation: rotateImage 2s linear infinite;
}

.slide-out {
    animation: slideOutLeft 200ms forwards;
}

.slide-in {
    animation: slideInCenter 200ms forwards;
}

@keyframes rotateImage {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes slideOutLeft {
    from {
        opacity: 100;
        left: 0;
    }
    to {
        opacity: 100;
        left: -100%;
    }
}

@keyframes slideInCenter {
    from {
        opacity: 100;
        transform: translateX(100%);
    }
    to {
        opacity: 100;
        transform: translateX(0);
    }
}

/* toggle switches */

.rm-container {
    height: 50px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: fit-content;
    overflow: hidden;
    display: flex;
    justify-content: flex-end; /* Keep this if you want the contents aligned to the right */
    margin-left: auto; /* Add this to move the container all the way to the right */
    background-color: var(--background);
    margin-right: 3px;
}


.rm-container > p {
    font-weight: bold;
    margin-left: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 10px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

    border-radius: 5px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 5px;
}

input:checked + .slider {
    background-color: var(--primary);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--primary);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* error text */
.error-text {
    color: var(--error);
}