/* Pallet "https://coolors.co/040a21-183bae-1e4bdc-8fa5ee-ffffff" */

:root {
    --accent: #1E4BDC;
    --accent-light: #8FA5EE;
    --accent-dark: #183BAE;

    --text: black;

    --background: #8FA5EE;

    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-style: normal;
}