:root {
  --primary: oklch(66.618% 0.17026 254.254);

  --bg-dark: oklch(0.1 0 264);
  --bg: oklch(0.3 0 264);
  --bg-light: oklch(0.4 0 264);

  --text: oklch(1 0 264);
  --text-muted: oklch(0.8 0 264);

  --shadow-s: inset 0 1px 0 #ffffff14, 0 2px 6px rgba(0, 0, 0, 0.65);

  --shadow-m: inset 0 1px 0 #ffffff18, 0 8px 20px rgba(0, 0, 0, 0.7),
    0 2px 4px rgba(0, 0, 0, 0.5);

  --shadow-glow: 0 0 0 4px rgba(100, 120, 255, 0.06);
}
