:root {
  --primary: oklch(0.9 0.17 100);

  --bg-dark: oklch(0.92 0 264);
  --bg: oklch(0.96 0 264);
  --bg-light: oklch(1 0 264);

  --text: oklch(0.15 0 264);
  --text-muted: oklch(0.4 0 264);

  --shadow-s: inset 0 1px 2px #ffffff30, 0 1px 2px #00000030,
    0 1px 4px #00000015;
  --shadow-m: inset 0 1px 2px #ffffff50, 0 2px 4px #00000030,
    0 4px 8px #00000015;
}