<div class="navbar-container">
  <div
    data-include="../fragments/onyxWebsiteButton.html"
    data-vars="text:ONYX Development"
  ></div>
  <div
    data-include="../fragments/onyxGithubButton.html"
    data-vars="text:ONYX Development on Github"
  ></div>
  <div
    data-include="../fragments/andrewArcadeGithubButton.html"
    data-vars="text:Andrew Arcade on Github"
  ></div>
  <div
    class="button-container"
    onclick="ToPage('https://trio.andrewcromar.org/')"
  >
    <img class="button-icon-img" src="../icons/trio_production_logo.png" />
    <p class="button-text">Trio Productions</p>
  </div>
  <div
    class="button-container"
    onclick="ToPage('https://github.com/AndrewCromar')"
  >
    <i class="button-icon fa-brands fa-github"></i>
    <p class="button-text">Github</p>
  </div>
  <div
    class="button-container"
    onclick="ToPage('https://www.linkedin.com/in/andrew-cromar-5257b22ab/')"
  >
    <i class="button-icon fa-brands fa-linkedin"></i>
    <p class="button-text">LinkedIn</p>
  </div>
</div>