html, body {
    font-family: "Source Code Pro", monospace;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

.header {
    height: 100px;
    line-height: 100px;
}

#navbar {
    overflow: hidden;
    background-color: var(--navbar-background-color);
    z-index: 100;
}

.nav-button {
    float: left;
    display: block;
    text-align: center;
    padding: 14px;
    font-size: larger;
    text-decoration: none;
    color: var(--text-color);
}

.nav-button:hover {
    background-color: var(--navbar-hover-color);
}

.icon {
    float: right;
    height: 51px;
}

.social {
    float: left;
    display: block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    color: var(--text-color);
}

.social > img {
    height: 25px;
}

.github:hover {
    background-color: var(--github-hover-color);
}

.youtube:hover {
    background-color: var(--youtube-hover-color);
}

.linkedin:hover {
    background-color: var(--linkedin-hover-color);
}

.discord:hover {
    background-color: var(--discord-hover-color);
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--footer-background-color);
    color: var(--text-color);
    text-align: center;
    overflow: hidden;
    z-index: 100;
}

hr {
    border: none;
    background-color: var(--hr-color);
    width: 100%;
    height: 5px;
}

.colored-text {
    color: var(--colored-text-color);
}

.resume {
    max-width: 100%;
    height: auto;
    margin-top: 50px;
    filter: drop-shadow(0 0 10px black);
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}