html, body {
	font-family: "Source Code Pro", monospace;
	margin: 0;
	padding: 0;
	background-color: #363636;
	color: white;
}

.header {
	height: 100px;
	line-height: 100px;
}

#navbar {
	overflow: hidden;
	background-color: #32a852;
	z-index: 100;
}

.nav-button {
	float: left;
    display: block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
	color: white;
}

.nav-button:hover {
	background-color: #51d675;
}

.social {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 0 10px;

	border-color: solid #51d675 2px;
}

.social:hover {
	border: solid red 2px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: solid #51d675 5px;
    background-color: #363636;
    color: white;
    text-align: center;
    line-height: 50px;
}