#tilt {
    display: block;
    height: 200px;
    width: 300px;
    background-color: grey;
    margin: 0 auto;
    transition: box-shadow 0.1s, transform 0.1s;
    background-size: 100%;
    background-repeat: no-repeat;
    transition-duration: 10ms;
}