:root {
    --font: "Roboto Mono", monospace;
    
    --accent-color: rgb(151, 187, 255);

    --background-color: rgb(235, 235, 235);
    --secondary-background-color: rgb(154, 154, 154);

    --border-color: rgb(0, 0, 0);

    --text-color: rgb(61, 61, 61);
    --secondary-text-color: rgb(33, 33, 33);

    --success-color: rgb(0, 128, 0);
    --warning-color: rgb(255, 255, 0);
    --error-color: rgb(255, 0, 0);
}